* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: #979797;
    font-size: 16px;
}

#contenedortitulo {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
}

h1 {
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
}

h1:hover {
    font-size: 40px;
    color: #137c32;
    transition: 0.3s;
}

p {
    font-style: oblique;
    padding: 10px;
    text-align: center;
    
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.contenedor .pelicula {
    text-align: center;
}

.contenedor .pelicula .titulo {
    font-size: 16px;
    font-weight: 600;
}

.contenedor .pelicula .poster {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 15px;
    transition: 0.3s;
}

.contenedor .pelicula .poster:hover {
    width: 98%;
    transition: 0.3s;
}

.paginacion {
    background: #100a1f;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.paginacion button {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 200px;
    background: #241744;
    color: #fff;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: .3s ease all;
}

.paginacion button:hover {
    background: #137c32;
}

/* Estilos para pantallas más grandes (escritorio) */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    #contenedortitulo {
        padding: 50px;
    }

    .contenedor {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    .paginacion {
        padding: 20px;
    }

    .paginacion button {
        height: 60px;
        width: 250px;
    }
}
